<div>
    <h2>R001</h2>
    <button id="adjustmentDataSave">Click me to save adjustmentData</button>
    <div id="spreadsheet"></div>
    <script>

        window.cellNameMap= [];
        window.cellIndexMap= [];
        window.adjustmentData = {};

        $("#spreadsheet").kendoSpreadsheet({
            excelImport: function(e) {
                e.promise
                   .progress(function(e) {
                        console.log(kendo.format("{0:P} complete", e.progress));
                    })
                    .done(function() {
                        var spreadsheet = e.sender;

                        spreadsheet.forEachName(function(arg1, arg2) {
                            window.cellNameMap[arg1.name] = { "rowIndex": arg1.value.row, "colIndex": arg1.value.col};
                            window.cellIndexMap["R" + arg1.value.row + "_" + "C" + arg1.value.col] = arg1.name;
                        })

                        Object.keys(window.cellNameMap).forEach(function(e) {
                            var rds = window.reportData;

                            var name = e;
                            var nameArr = name.split("_");
                            var keyPath = "";
                            for(var i = 0; i< nameArr.length; i++) {
                                keyPath = keyPath + "." + nameArr[i];
                            }

                            var cellValue2BeFilled = eval("rds" + keyPath);

                            var kss = $("#spreadsheet").data("kendoSpreadsheet");
                            kss.activeSheet().range(window.cellNameMap[e].rowIndex, window.cellNameMap[e].colIndex).value(cellValue2BeFilled);
                        });

                        spreadsheet.bind("change", function(e) {
                            console.log("spread sheet state changed");

                            var valueChangedCell = e.range;
                            var index = "";
                            var cellValue = "";
                            valueChangedCell.forEachCell(function (row, column, value) {
                                index = "R" + row + "_" + "C" + column;
                                cellValue = value.value;
                            });

                            var cellName = window.cellIndexMap[index];
                            console.log("cellName:" + cellName);

                            var obj = window.adjustmentData;
                            if(cellName != null) {
                                var nameArr = cellName.split("_");
                                for(var i = 0, obj0 = obj; i < nameArr.length; i++) {
                                    if(i === nameArr.length -1) {
                                        obj0[nameArr[i]] = cellValue;
                                    } else {
                                        if(obj0[nameArr[i]] != null) {
                                            innerObj = obj0[nameArr[i]];
                                        } else {
                                            var innerObj = new Object();
                                            obj0[nameArr[i]] = innerObj;
                                        }
                                        obj0 = innerObj;
                                    }
                                }
                            }

                            console.log("constructed obj: " + obj);

                        });


                    });
            }
        });



        $.ajax({
                url: "/reports/r001",
                async: false,
                success: function(result) {
                    var rds = result.reportDataSet;
                    window.reportData = rds;

                    var decodedStr = atob(result.reportTemplate);
                    var bytes = new Uint8Array(decodedStr.length);
                    for(var i = 0; i<decodedStr.length; i++) {
                        bytes[i] = decodedStr.charCodeAt(i);
                    }
                    var blob = new Blob([bytes.buffer]);
                
                    var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");
                    spreadsheet.fromFile(blob);
                },
                error: function(error) {
                    console.log("something wrong with this page!" + error);
                }
            });
    
    //console.log("cellNameMap: " + cellNameMap);

    $("#adjustmentDataSave").click(function(){
        console.log("adjustmentDataSave" + window.adjustmentData);
        $.ajax({
                type: 'POST',
                url: "/reports/r001/adjustment",
                data: JSON.stringify(window.adjustmentData),
                success: function() {
                    console.log("success")
                },
                contentType: "application/json; charset=utf-8"
            });

    });

    </script>
</div>